@(message: String,  searchForm: Form[Docente], postUrl: play.api.mvc.Call)
@import helper._

@main(message) {

<div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }

    <fieldset>

        <div class="row">
            <div class="col-md-4">  @inputText( 
                searchForm("texto"),
                '_label -> "Nombre del profesor:",
                '_help -> "Nombre completo.",
                'class -> "form-control"
                )</div>
            <div class="col-md-4">
                @textarea(searchForm("Cédula de identidad:"),
                '_help -> "Formato de 9 dígitos",
                'class -> "form-control")
            </div>
               <div class="col-md-4">
                @textarea(searchForm("Número telefónico:"),
                '_help -> "+506",
                'class -> "form-control")
            </div>
            <div class="col-md-4">
                @textarea(searchForm("Materia"),
                '_help -> "Requerido.",
                'class -> "form-control")
            </div>
        

    </fieldset>

    <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Guardar") > #Siempre da error.
    </div>
    
     <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Volver") >  #Siempre da error.
    </div>
    }
}