@(message: String, docent: List[Docente],searchForm:Form[Docente])
@import helper._

@main(message) {

<h1> Lista de docentes </h1>

<ul class="list-group">
    @for(docen <- docent) {
    <li class="list-group-item" >@docen.nombre
        <div class="btn-group pull-right" role="group" aria-label="...">
            <a href="@routes.ControllerDocente.EditarDocentePost(docen.id)" 
               class="btn btn-success">Editar</a>
            <a href="@routes.ControllerDocente.EliminarDocente(docen.id)" 
               class="btn btn-success">Eliminar</a>
        </div>
        
        
    </li>
    }
</ul>



 <fieldset>

        <div class="row">
            <div class="col-md-4">  @inputText( 
                searchForm("buscar"),
                '_label -> "Busca el estudiante",
                '_help -> "Ingrese el id",
                'class -> "form-control"
                )</div>






}
