@(message: String, curso: List[Curso],searchForm:Form[Curso])
@import helper._

@main(message) {

<h1> Lista de Curso </h1>

<ul class="list-group">
    @for(curs <- curso) {
    <li class="list-group-item" >@curs.nombre
        <div class="btn-group pull-right" role="group" aria-label="...">
            <a 
                href="@routes.ControllerGrupo.editarGrupoPost(curs.id)" class="btn btn-success">Editar</a>
            <a 
                href="@routes.ControllerGrupo.EliminarGrupo(curs.id)" class="btn btn-success">Eliminar</a>
        </div>


    </li>
    }
</ul>



<fieldset>

    <div class="row">
        <div class="col-md-4">  @inputText( 
            searchForm("buscar"),
            '_label -> "Buscar grupo",
            '_help -> "Ingrese el id",
            'class -> "form-control"
            )</div>

        <nav class="form-actions text-center">
            <div class="form-actions text-center">

                <br/>
                <br/>
                <a 
                    class="btn btn-success">Buscar</a>
                <br/>
                <br/>
            </div>
            <a href="@routes.HomeController.index()" class="btn btn-info ">Volver</a>          
        </nav>


 }
