@(message: String)

@main(message) {
<div class="container">
    <div class="btn-group" role="group" aria-label="...">
        <style>
            th, td {
                border: 1px solid black;
                padding: 10px;
                text-align: center;
            }
            
        </style>
        <table style="width:100%">
     
              <tr> 
                  <td>
                    <h3> Hora </h3>
                </td>
                 <td>
                    <h3> Lunes </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> Martes </h3>
                </td>
                <th style="padding: 50px">
                <td>
                    <h3> Miercoles</h3>
                </td>
                <th style="padding: 50px">
                <td>
                    <h3> Jueves </h3>
                </td>
                <th style="padding: 50px">
                <td>
                    <h3> Viernes </h3>
                </td>
                
                  <tr> 
                 <td>
                    <h3> 7-8 </h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                <tr> 
                 <td>
                    <h3> 8-9 </h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                
                <tr> 
                 <td>
                    <h3> 9-10 </h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                
                <tr> 
                 <td>
                    <h3> 10-11 </h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                
                <tr> 
                 <td>
                    <h3> 11-10 </h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                <tr> 
                 <td>
                    <h3> 12-13 </h3>
                </td>
              
                <tr> 
                 <td>
                    <h3> 15-14 </h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
               
                <tr> 
                 <td>
                    <h3> 15-16 </h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                
                <tr> 
                 <td>
                    <h3>16-17</h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                <tr> 
                 <td>
                    <h3> 17-18 </h3>
                </td>
              
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                 <th style="padding: 50px">
                <td>
                    <h3> prueba </h3>
                </td>
                }