@(message: String)

@main(message) {
<div class="container">
    <div class="btn-group" role="group" aria-label="...">
        <style>
            th, td {
                border: 1px solid black;
                padding: 10px;
                text-align: center;
            }

       
  
        </style>
        <table style="width:100%">
     
              <tr> 
                  <td>
                    <h3> Hora / Días </h3>
                </td>
                 <td>
                    <h3> Lunes </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Martes </h3>
                </td>
                <th style="padding: 5px">
                <td>
                    <h3> Miercoles</h3>
                </td>
                <th style="padding: 5px">
                <td>
                    <h3> Jueves </h3>
                </td>
                <th style="padding: 5px">
                <td>
                    <h3> Viernes </h3>
                </td>
                
                  <tr> 
                 <td>
                    <h3> 7-8 am </h3>
                </td>
              
                <td>
                    <h3> Matemáticas </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Español </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> PLásticas </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Idioma </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Biología </h3>
                </td>
                <tr> 
                 <td>
                    <h3> 8-9 am </h3>
                </td>
              
                <td>
                    <h3> Matemáticas </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Español </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Plásticas </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Idioma </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Biología </h3>
                </td>
                
                <tr> 
                 <td>
                    <h3> 9-10 am</h3>
                </td>
              
                <td>
                    <h3> Matemáticas </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Física</h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> PLásticas </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Matemáticas </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Biología </h3>
                </td>
                
                <tr> 
                 <td>
                    <h3> 10-11 am</h3>
                </td>
              
                <td>
                    <h3> Sociales </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Física </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Industriales </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Sociales </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Español </h3>
                </td>
                
                <tr> 
                 <td>
                    <h3> 11-12 am</h3>
                </td>
              
                <td>
                    <h3> Sociales </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Física </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Industriales </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Sociales </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Español </h3>
                </td>
                <tr> 
                 <td>
                    <h3> 12-1 pm</h3>
                </td>
                <td>
                    <h3> Almuerzo </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Almuerzo </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Almuerzo </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Almuerzo </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Almuerzo </h3>
                </td>
                <tr> 
              
                 <td>
                    <h3> 2-3 pm</h3>
                </td>
              
                <td>
                    <h3> Biología </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Informática </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Química </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Física</h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Religión </h3>
                </td>
               
                <tr> 
                 <td>
                    <h3> 3-4 pm </h3>
                </td>
              
                <td>
                    <h3> Biología </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Informática </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Química </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Física </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Química </h3>
                </td>
                
                <tr> 
                 <td>
                    <h3>4-5 pm</h3>
                </td>
              
                <td>
                    <h3> Idioma </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Informática </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Química </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Física </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Química </h3>
                </td>
                <tr> 
                 <td>
                    <h3> 5-6 pm</h3>
                </td>
              
                <td>
                    <h3> Idioma </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Religión </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Cívica </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Orientación </h3>
                </td>
                 <th style="padding: 5px">
                <td>
                    <h3> Yoga </h3>
                </td> 
               
                <div class="form-actions text-center">
                    <br/>
                    <br/>
                    <a href="@routes.HomeController.index()" class="btn btn-info ">Volver</a>          
                </div>
                
                }
