@(message: String)

@main(message) {
<div class="container">
   <div class="btn-group" role="group" aria-label="...">
       
    <a href="@routes.ControllerEstudiant.listaEstudiantes()" class="btn btn-default">Elimana/Editar Estudiantes</a>
      <a href="@routes.ControllerEstudiant.crearEstudiantesGet()" class="btn btn-success">Matricular Estudiantes</a>
        <a href="@routes.ControllerDocente.listaDocentes()" class="btn btn-default">Eliminar/Editar Docentes</a>
      <a href="@routes.ControllerDocente.crearDocenteGet()" class="btn btn-success">Contrataciones Docentes</a><
            <a href="@routes.ControllerDocente.InformacionDocentesGet(id)" class="btn btn-success">Informacion Docentes</a><
   <div class="btn-group" role="group" aria-label="...">
       
    <a href="@routes.ControllerEstudiant.listaEstudiantes()" class="btn btn-default">Elimana/Editar Estudiantes</a>
      <a href="@routes.ControllerEstudiant.crearEstudiantesGet()" class="btn btn-success">Matricular Estudiantes</a>
        <a href="@routes.ControllerDocente.listaDocentes()" class="btn btn-default">Eliminar/Editar Docentes</a>
      <a href="@routes.ControllerDocente.crearDocenteGet()" class="btn btn-success">Contrataciones Docentes</a><
            <a href="@routes.ControllerDocente.InformacionDocentesGet(id)" class="btn btn-success">Informacion Docentes</a><

 




