@(message: String )

@main(message) {
<div class="container">
   <div class="btn-group" role="group" aria-label="...">
    <a href="@routes.HomeController.listaEstudiantes()" class="btn btn-default">Listar Estudiantes</a>
      <a href="@routes.HomeController.crearEstudiantesGet()" class="btn btn-success">Crear Estudiante</a>
        <a href="@routes.HomeController.listaDocentes()" class="btn btn-default">Listar Docente</a>
      <a href="@routes.HomeController.crearDocenteGet()" class="btn btn-success">Crear Docente</a>

   </div>
</div>
}

