@(message: String,  searchForm: Form[Docente], postUrl: play.api.mvc.Call)
@import helper._

@main(message) {

<div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }

    <fieldset>

        <div class="row">
            <div class="col-md-4">  @inputText( 
                searchForm("id"),
                '_label -> "Información docente:",
                '_help -> "Campo de texto.",
                'class -> "form-control"
                )</div>
            
            <div class="col-md-4">
                @textarea(searchForm("PDF"),
                '_help -> "Generacion de PDF.",
                'class -> "form-control")
            </div>
            
         <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Buscar") >  
    </div>
     <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Volver") >  
    </div>
    }
 }