@(message: String, estudi: List[Docente],searchForm:Form[Docente])
@import helper._

@main(message) {

<h1> Lista de docentes</h1>
<fieldset>

    <div class="row">
        <div class="col-md-4">  @inputText( 
            searchForm("nombre"),
            '_label -> "Nombre del profesor:",
            'class -> "form-control"
            )</div>

        <div class="col-md-4">
            @textarea(searchForm("materia"),
            'class -> "form-control")
        </div>
        <div class="col-md-4">
            @textarea(searchForm("cedula"),
            'class -> "form-control")
        </div>
        <div class="col-md-4">
            @textarea(searchForm("telefono"),
            'class -> "form-control")
        </div>



</fieldset>

<div class="form-actions text-center">
    <br/>
    <br/>
    <a href="@routes.HomeController.index()" class="btn btn-info ">Volver</a>          
</div>
}
